In [1]:
import pandas as pd

In [2]:
blast_out = "/mnt/d/Lab/VC_SiLab/result/A5_S5_blast.tsv"

In [3]:
df = pd.read_table(blast_out)

In [4]:
df.columns = ["qseqid", "sseqid", "pident", "length", "mismatch", "gapopen", "qstart", "qend", "sstart", "send", "evalue", "bitscore"]

In [5]:
df

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,M06589:36:000000000-JH5C4:1:1101:19437:9899,168_CAG_Q_502:504_AGG_R,100.000,340,0,0,1,340,281,620,1.190000e-180,628.0
1,M06589:36:000000000-JH5C4:1:1101:3938:9903,81_GAC_D_241:243_GTG_V,100.000,318,0,0,18,335,1,318,1.980000e-168,588.0
2,M06589:36:000000000-JH5C4:1:1101:3936:9922,52_GAA_E_154:156_GCT_A,100.000,318,0,0,18,335,1,318,1.980000e-168,588.0
3,M06589:36:000000000-JH5C4:1:1101:28953:9931,63_TTC_F_187:189_GGG_G,99.371,318,2,0,18,335,1,318,4.290000e-165,577.0
4,M06589:36:000000000-JH5C4:1:1101:6111:9934,296_TGA_*_886:888_TTT_F,100.000,318,0,0,18,335,1,318,1.980000e-168,588.0
...,...,...,...,...,...,...,...,...,...,...,...,...
118422,M06589:36:000000000-JH5C4:1:2119:9147:24162,262_GTA_V_784:786_CGT_R,100.000,306,0,0,1,306,583,888,8.990000e-162,566.0
118423,M06589:36:000000000-JH5C4:1:2119:9088:24200,123_GTG_V_367:369_CGT_R,99.120,341,2,1,1,341,281,620,1.200000e-175,612.0
118424,M06589:36:000000000-JH5C4:1:2119:8911:24210,296_TGA_*_886:888_TTT_F,99.686,318,1,0,18,335,1,318,9.220000e-167,582.0
118425,M06589:36:000000000-JH5C4:1:2119:10091:24220,71_AAC_N_211:213_AAG_K,99.686,318,1,0,18,335,1,318,9.220000e-167,582.0
118426,M06589:36:000000000-JH5C4:1:2119:8516:24249,106_ATC_I_316:318_TCT_S,100.000,340,0,0,1,340,281,620,1.190000e-180,628.0

In [6]:
df1 = df.loc[df["pident"] == 100]

In [7]:
df1

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,M06589:36:000000000-JH5C4:1:1101:19437:9899,168_CAG_Q_502:504_AGG_R,100.0,340,0,0,1,340,281,620,1.190000e-180,628.0
1,M06589:36:000000000-JH5C4:1:1101:3938:9903,81_GAC_D_241:243_GTG_V,100.0,318,0,0,18,335,1,318,1.980000e-168,588.0
2,M06589:36:000000000-JH5C4:1:1101:3936:9922,52_GAA_E_154:156_GCT_A,100.0,318,0,0,18,335,1,318,1.980000e-168,588.0
4,M06589:36:000000000-JH5C4:1:1101:6111:9934,296_TGA_*_886:888_TTT_F,100.0,318,0,0,18,335,1,318,1.980000e-168,588.0
5,M06589:36:000000000-JH5C4:1:1101:27839:9942,55_AAC_N_163:165_TCT_S,100.0,318,0,0,18,335,1,318,1.980000e-168,588.0
...,...,...,...,...,...,...,...,...,...,...,...,...
118415,M06589:36:000000000-JH5C4:1:2119:20653:24100,226_ACC_T_676:678_CGG_R,100.0,306,0,0,1,306,583,888,8.990000e-162,566.0
118417,M06589:36:000000000-JH5C4:1:2119:23674:24112,159_AAC_N_475:477_CGT_R,100.0,340,0,0,1,340,281,620,1.190000e-180,628.0
118419,M06589:36:000000000-JH5C4:1:2119:16018:24138,107_TCC_S_319:321_TAT_Y,100.0,340,0,0,1,340,281,620,1.190000e-180,628.0
118422,M06589:36:000000000-JH5C4:1:2119:9147:24162,262_GTA_V_784:786_CGT_R,100.0,306,0,0,1,306,583,888,8.990000e-162,566.0
118426,M06589:36:000000000-JH5C4:1:2119:8516:24249,106_ATC_I_316:318_TCT_S,100.0,340,0,0,1,340,281,620,1.190000e-180,628.0

In [8]:
df1["sseqid"].describe()

count                       85880
unique                       1204
top       296_TGA_*_886:888_TTT_F
freq                         8310
Name: sseqid, dtype: object

In [9]:
df1["sseqid"].count()

85880

In [10]:
len(set(df1["sseqid"]))

1204

In [55]:
df1["sseqid"].value_counts()

296_886:888_TTT_F    1852
290_868:870_ATG_M    1291
165_493:495_GTG_V    1201
217_649:651_GTG_V     973
165_493:495_GGG_G     762
                     ...
122_364:366_TTG_L       1
139_415:417_GTG_V       1
82_244:246_CTG_L        1
133_397:399_GCG_A       1
289_865:867_CAG_Q       1
Name: sseqid, Length: 827, dtype: int64

In [11]:
df2 = df1["sseqid"].str.split("_", expand=True)

In [13]:
df2.columns = ["start", "ori_nt", "ori_aa", "position", "nt", "aa"]

In [14]:
df2

       start ori_nt ori_aa position   nt aa
0        168    CAG      Q  502:504  AGG  R
1         81    GAC      D  241:243  GTG  V
2         52    GAA      E  154:156  GCT  A
4        296    TGA      *  886:888  TTT  F
5         55    AAC      N  163:165  TCT  S
...      ...    ...    ...      ...  ... ..
118415   226    ACC      T  676:678  CGG  R
118417   159    AAC      N  475:477  CGT  R
118419   107    TCC      S  319:321  TAT  Y
118422   262    GTA      V  784:786  CGT  R
118426   106    ATC      I  316:318  TCT  S

[85880 rows x 6 columns]

In [15]:
df2["start"].value_counts()

296    8312
165    1788
290    1485
232    1184
94     1100
       ...
252       1
154       1
216       1
174       1
255       1
Name: start, Length: 282, dtype: int64

In [16]:
df2.describe()

        start ori_nt ori_aa position     nt     aa
count   85880  85880  85880    85880  85880  85880
unique    282     47     21      282     32     21
top       296    TGA      *  886:888    TTT      R
freq     8312   8312   8312     8312   9145   9417

In [42]:
df2.value_counts()

start  ori_nt  ori_aa  position  nt   aa
296    TGA     *       886:888   TTT  F     8310
165    TAC     Y       493:495   CTT  L     1737
94     GAG     E       280:282   GCT  A     1059
290    ATG     M       868:870   ATG  M     1049
58     CTG     L       172:174   CAG  Q     1019
                                            ...
174    AAC     N       520:522   GAG  E        1
287    TTC     F       859:861   TTG  L        1
288    CAC     H       862:864   CAG  Q        1
                                 CAT  H        1
1      ATG     M       1:3       AAG  K        1
Length: 1204, dtype: int64

In [17]:
mutate = df2["start"].value_counts()

In [19]:
type(mutate)

pandas.core.series.Series

In [23]:
mutate

296    8312
165    1788
290    1485
232    1184
94     1100
       ...
252       1
154       1
216       1
174       1
255       1
Name: start, Length: 282, dtype: int64

In [31]:
sum(mutate)

85880

In [27]:
mutate.index

Index(['296', '165', '290', '232', '94', '57', '58', '60', '54', '63',
       ...
       '185', '102', '113', '135', '197', '252', '154', '216', '174', '255'],
      dtype='object', length=282)

In [52]:
stat1 = df2["start"].value_counts(normalize=True).rename_axis("start").reset_index(name='ID')

In [73]:
stat1 = df2["start"].value_counts().rename_axis("start").reset_index(name='Count')

In [74]:
stat1

    start  Count
0     296   8312
1     165   1788
2     290   1485
3     232   1184
4      94   1100
..    ...    ...
277   252      1
278   154      1
279   216      1
280   174      1
281   255      1

[282 rows x 2 columns]

In [58]:
type(stat1["start"][0])

str

### test

In [28]:
stat = pd.DataFrame()

In [29]:
stat["start"] = mutate.index

In [36]:
stat

    start  count
0     296    NaN
1     165    NaN
2     290    NaN
3     232    NaN
4      94    NaN
..    ...    ...
277   252    NaN
278   154    NaN
279   216    NaN
280   174    NaN
281   255    NaN

[282 rows x 2 columns]

In [38]:
persent = mutate/sum(mutate) * 100

In [40]:
stat["count"] = persent

In [44]:
df2["start"].value_counts(normalize=True)

296    0.096786
165    0.020820
290    0.017292
232    0.013787
94     0.012809
         ...
252    0.000012
154    0.000012
216    0.000012
174    0.000012
255    0.000012
Name: start, Length: 282, dtype: float64

In [39]:
persent

296    9.678621
165    2.081975
290    1.729157
232    1.378668
94     1.280857
         ...
252    0.001164
154    0.001164
216    0.001164
174    0.001164
255    0.001164
Name: start, Length: 282, dtype: float64

In [41]:
stat

    start  count
0     296    NaN
1     165    NaN
2     290    NaN
3     232    NaN
4      94    NaN
..    ...    ...
277   252    NaN
278   154    NaN
279   216    NaN
280   174    NaN
281   255    NaN

[282 rows x 2 columns]

### table gen

In [75]:
df = pd.read_csv("ori_table.csv")

In [76]:
type(df["start"][0])

numpy.int64

In [77]:
df["start"] = df["start"].astype(str)

In [78]:
df = df.merge(stat1, on="start")

In [79]:
df

    ori_aa ori_nt start  Count
0        M    ATG     1     14
1        R    CGG     2    509
2        R    CGC     3    110
3        E    GAA     4    289
4        S    AGT     5    258
..     ...    ...   ...    ...
277      I    ATC   292    253
278      G    GGC   293    284
279      Y    TAC   294     44
280      A    GCC   295      1
281      *    TGA   296   8312

[282 rows x 4 columns]

In [80]:
df.to_csv("demo.csv", index=None)